.spots {
  display: inline;
}

body {
  background-image: url('../images/white-pizza-box.jpg');
  text-align: center;
  padding: 75px;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 24px;
}
